.card {
  min-height: 35rem;
  width: 22rem;
  background-color: white;
  position: relative;
  margin: 0 10px 5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 5px 5px 10px #ccc;
}
.card_image {
  height: 45%;
}
.card_image img {
  clip-path: polygon(0 0, 100% 0%, 100% 81%, 0% 100%);
  width: 100%;
}
.card_title {
  color: whitesmoke;
  text-transform: uppercase;
  position: absolute;
  top: 8rem;
  right: 2rem;
  font-size: 2rem;
  max-width: 70%;
  text-align: center;
  background-image: linear-gradient(120deg, #7dd56fd2, #28b488d2);
  padding: 5px;
}
.card_details {
  min-height: 14rem;
  padding: 25px;
}
.card_details_div {
  margin-bottom: 8px;
  color: #777;
}
.card_info {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-top: 1rem;
}
.card_info_div {
  display: flex;
  width: 17rem;
  margin-bottom: 5px;
}
.card_info_div p {
  padding-left: 1rem;
  font-weight: 300;
}
.card_details_nav {
  display: flex;
  justify-content: space-around;
  background-color: #eee;
  padding: 1rem;
}
.card_details_nav p {
  color: #777;
  font-size: 14px;
}
.details_btn {
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon {
  fill: #28b488d2;
  font-size: 1.2rem;
}
@media screen and (max-width: 322px) {
  .card {
    width: 17rem;
  }
}
